* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #d9d9d9;
     max-width: 100%;
     max-height: 100%;
}

.layout {
    display: flex;
    height: 100vh;
}

/* Sidebar */


.logo img {
    max-width: 100%;
    margin-bottom: 30px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav-link {
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: #555;
    border-radius: 6px;
    transition: background 0.2s;
    display: flex;
    justify-content: center;
}

.nav-link:hover,
.nav-link.active {
    background: #f2f4f7;
    color: #000;
}

.nav-section {
    font-size: 12px;
    color: #999;
    margin: 10px 0 5px;
    padding-left: 10px;
}

/* User Info */
.user {
    text-align: center;
    font-size: 12px;
    color: #444;
}

.user img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 5px;
}

/* Main Content */
.main {
    flex: 1;
    background: #f9f9f9;
    padding: 30px;
    border-radius: 0 10px 10px 0;
      max-width: 100%;
     width: 100%;
     padding: 2rem;
    overflow-x: auto;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field.full {
    grid-column: span 2;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    font-size: 14px;
    background: #fff;
}

textarea {
    resize: none;
}

.combo {
    position: relative;
}

.combo button.plus {
    position: absolute;
    right: 8px;
    top: 34px;
    background: none;
    border: none;
    font-size: 18px;
    color: #2563eb;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.btn.disabled {
    background: #e5e7eb;
    color: #9ca3af;
    cursor: not-allowed;
}

.btn.save {
    background: #6b7280;
    color: white;
}

.separator {
    height: 2px; /* Defina uma altura pequena e visível */
    background-color: #000; /* Cor preta */
    width: 100%; /* Certifique-se que ocupa toda a largura disponível */
    margin: 20px 0; /* Adiciona algum espaçamento antes e depois */

}
